*{color: whitesmoke;}

h2.blog-post-title {
	font-size: 2em;
}

iframe{
	max-width:100%;
	max-height:388px;
}

img{
	max-width:100%;
}

img.demo-gif {
	width:600px;
	height: auto;
}

.ratio{
	width: 100%;
}

#demoGame {
   max-width: 1110px;
   max-height:624px;
   width: 1110px;
   height: 624px;
}

.p-1.link-secondary{
	font-weight: bold;
	text-decoration: none;
	color: lightgray;
}

.p-1.link-secondary.active, .p-1.link-secondary:hover {
	color: white;
	text-decoration: underline;
}

@media (min-width: 1400px) {
  #demoGame {
		-moz-transform: scale(0.83);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.83);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.83);
		-webkit-transform-origin: 0 0;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
  #demoGame {
		-moz-transform: scale(0.71);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.71);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.71);
		-webkit-transform-origin: 0 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
  #demoGame {
		-moz-transform: scale(0.59);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.59);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.59);
		-webkit-transform-origin: 0 0;
	}
	#side-list{
		font-size: 86%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	h2.blog-post-title{
		font-size: 180%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	h2.blog-post-title{
		font-size: 160%;
	}
}


@media (max-width: 479px) {
	h2.blog-post-title{
		font-size: 140%;
	}
}