h2.blog-post-title {
	font-size: 2em;
}

iframe{
	max-width:100%;
	height: auto;
}

img{
	max-width:100%;
}

img.demo-gif {
	width:600px;
	height: auto;
}

.ratio{
	width: 100%;
}

#demoGame {
   max-width: 1110px;
   max-height:624px;
   width: 1110px;
   height: 624px;
}
	.ratio{
		width: 100%;
	}
.active {
	background-color: lightgray;
}

@media (min-width: 1400px) {
  #demoGame {
		-moz-transform: scale(0.83);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.83);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.83);
		-webkit-transform-origin: 0 0;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
  #demoGame {
		-moz-transform: scale(0.7);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.7);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.7);
		-webkit-transform-origin: 0 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
  #demoGame {
		-moz-transform: scale(0.6);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.6);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.6);
		-webkit-transform-origin: 0 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
  #demoGame {
		-moz-transform: scale(0.44);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.44);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.44);
		-webkit-transform-origin: 0 0;
	}
	#side-list{
		font-size: 0.75em;
	}
	h2.blog-post-title{
		font-size: 0.75em;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
  #demoGame {
		-moz-transform: scale(0.42);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.42);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.42);
		-webkit-transform-origin: 0 0;
	}
	#side-list{
		font-size: 0.7em;
	}
	h2.blog-post-title{
		font-size: 0.7em;
	}
}

@media (max-width: 568px) {
  #demoGame {
		-moz-transform: scale(0.35);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.35);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.35);
		-webkit-transform-origin: 0 0;
	}
	#side-list{
		font-size: 0.65em;
	}
	h2.blog-post-title{
		font-size: 0.65em;
	}
}